# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/.idea.supergame.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\igraton\supergame\.idea\.idea.supergame\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
